@import "../../../maint-styles.scss";
.note-card-container {
  position: relative;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 2px 15px 2px rgba($color: #000000, $alpha: 0.068);
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 4px rgba($color: black, $alpha: 0.068);
    transition: box-shadow 0.3s ease-out;
    .x-button {
      opacity: 1;
      transform: scale(1);
    }
  }

  .note-card-content {
    padding: 25px;
    .note-card-title {
      font-size: 22px;
      font-weight: bold;
      color: $purple;
    }
    .note-card-body {
      position: relative;
      color: #555;
      max-height: 80px;
      overflow: hidden;

      .fade-out-truncation {
        position: absolute;
        pointer-events: none;
        bottom: 0;
        height: 50%;
        width: 100%;
        background: linear-gradient(
          to bottom,
          rgba(white, 0) 0%,
          rgba(white, 0.8) 50%,
          white 100%
        );
      }
    }
  }
}

.x-button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 34px;
  height: 34px;
  background-color: $light-red;
  border-radius: 4px;
  background-image: url("../../../assets/delete_icon.svg");
  background-position: center;
  padding-left: 3px;
  transition: opacity ease-out 0.3s, transform ease-out 0.3s;
  transition-delay: 0.3s;
  opacity: 0;
  transform: scale(0.25);

  &:hover {
    color: white;
    background-color: darken($light-red, 2%);
  }

  &:active {
    background-color: darken($light-red, 5%);
  }
}
