<div class="main-container">
  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Filter" />
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>

  <div class="notes-list">
    <app-note-card
      [title]="cardTitle"
      body="testing bodyyy testing bodyyy testing "
    ></app-note-card>
    <app-note-card
      body="testing bodyyy testing bodyyy testingsdfsddsdfdsf sdfsd sdfdsfdddddddd  ddddddddddddddsd ddddddd gjgjgfjjjjjjjjjjjjjjjjjjjjjjjjjjdddddddddddddd "
    ></app-note-card>
  </div>
</div>
